[submodule "bwallet-qrenc"]
	path = bwallet-qrenc
	url = https://github.com/BWallet/bwallet-qrenc.git
[submodule "bwallet-crypto"]
	path = bwallet-crypto
	url = https://github.com/BWallet/bwallet-crypto.git
[submodule "bwallet-common"]
	path = bwallet-common
	url = https://github.com/BWallet/bwallet-common.git
